<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../../INSTALLATION/LOCAL INSTALLATION/bootstrap-5.3.3-dist/css/bootstrap.min.css">
    <title>Document</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4 bg-primary">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
          ipsam odit qui rem molestiae expedita at similique sapiente iure,
          doloribus cupiditate ad totam, possimus aperiam voluptatum dicta,
          neque ab illo ipsum optio eaque quas repellendus? Deleniti doloribus
          vitae blanditiis deserunt nisi reprehenderit unde minima facere
          adipisci sed ad laborum, eaque dolorem natus ullam sit laudantium ut
          cum enim corrupti, provident maiores vel? Ipsum doloremque illum ipsam
          maxime ex consequuntur nostrum alias ad sed nesciunt vitae, omnis
          consequatur autem, ipsa adipisci. Modi delectus repellat repudiandae
          aperiam alias vel ab a, enim fuga quas quos. Asperiores, pariatur
          voluptate a magni eveniet explicabo!
        </div>
        
        <div class="col-sm-12 col-md-6 col-lg-4 bg-warning">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            ipsam odit qui rem molestiae expedita at similique sapiente iure,
            doloribus cupiditate ad totam, possimus aperiam voluptatum dicta,
            neque ab illo ipsum optio eaque quas repellendus? Deleniti doloribus
            vitae blanditiis deserunt nisi reprehenderit unde minima facere
            adipisci sed ad laborum, eaque dolorem natus ullam sit laudantium ut
            cum enim corrupti, provident maiores vel? Ipsum doloremque illum ipsam
            maxime ex consequuntur nostrum alias ad sed nesciunt vitae, omnis
            consequatur autem, ipsa adipisci. Modi delectus repellat repudiandae
            aperiam alias vel ab a, enim fuga quas quos. Asperiores, pariatur
            voluptate a magni eveniet explicabo!
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4 bg-success">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem
            ipsam odit qui rem molestiae expedita at similique sapiente iure,
            doloribus cupiditate ad totam, possimus aperiam voluptatum dicta,
            neque ab illo ipsum optio eaque quas repellendus? Deleniti doloribus
            vitae blanditiis deserunt nisi reprehenderit unde minima facere
            adipisci sed ad laborum, eaque dolorem natus ullam sit laudantium ut
            cum enim corrupti, provident maiores vel? Ipsum doloremque illum ipsam
            maxime ex consequuntur nostrum alias ad sed nesciunt vitae, omnis
            consequatur autem, ipsa adipisci. Modi delectus repellat repudiandae
            aperiam alias vel ab a, enim fuga quas quos. Asperiores, pariatur
            voluptate a magni eveniet explicabo!
          </div>

        
      </div>
    </div>
    <script src="../../../INSTALLATION/LOCAL INSTALLATION/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"></script>
  </body>
</html>
